<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}江西省中成药数据库{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
        {% block stylesheets %}
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{{ asset('build/css/mdb/font-awesome.min.css')}}">
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('build/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Material Design Bootstrap -->
            <link href="{{ asset('build/css/mdb/mdb.min.css') }}" rel="stylesheet">
            <!-- sb-admin -->
            <link href="{{ asset('build/css/sb-admin/sb-admin.css')}}" rel="stylesheet">
            <!-- Your custom styles (optional) -->
            <link href="{{ asset('build/css/style.css') }}" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
        <header>
                <!--Navbar
                <nav class="navbar navbar-dark default-color">-->
                <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">
                <div class="container">
                 <!-- Navbar brand -->
                <a class="navbar-brand" href="{{ path('homepage') }}">江西省中成药数据库</a>
                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto w-75" style="background-color: yellow;">
                        <!-- Dropdown -->
                        <li class="nav-item active">
                            <select name="t" class="form-control input-group" style="width:15%;min-width:80px!important;max-width:100px!important;color: rebeccapurple;">
                                <option value="0" selected>企业</option>
                                <option value="1">品种</option>
                                <option value="2">药材</option>
                            </select>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline left">
                                <div class="md-form my-0">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                </div>
                                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
                            </form>
                        </li>
                    </ul>
                    <!--/Link -->
                </div>
                <!-- Collapsible content -->
                </div>
                </nav>
                <!--/.Navbar-->
            </header>
        {% endblock %}
        {% block main %}

        {% endblock %}
        {% block footer %}
        <footer  class="page-footer font-small blue pt-4">
            <div class="container footer">
                <div class="row">
                    <div class="footer-copyright text-center py-3 small">
                        <p>&copy; {{ 'now'|date('Y') }} Copyright:
                            <a href="https://mdbootstrap.com/education/bootstrap/">鼎石互联网工作室  18607912861</a></p>
                        <p>{{ 'mit_license'|trans }}</p>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}
            <script  type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-animate.min.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-route.min.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-aria.min.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-messages.min.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/svg-assets-cache.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/tabDialog.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-material.js') }}"></script>



            <script  type="text/javascript"  src="{{ asset('build/manifest.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/common.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/app.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular.min.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-sanitize.min.js') }}"></script>

            <!-- SCRIPTS -->
            <!-- JQuery -->
            <script type="text/javascript" src="{{ asset('build/js/jquery-3.3.1.min.js') }}"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="{{ asset('build/js/popper.min.js') }}"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="{{ asset('build/js/bootstrap.min.js') }}"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="{{ asset('build/js/mdb.min.js') }}"></script>
            <script>
               /* var myAppModule = angular.modules("myApp",["ngSanitize"]);
                myAppModulec.config(function ($interpolateProvider) {
                    $interpolateProvider.startSymbol('[[').endSymbol(']]');

                });*/
            </script>
        {% endblock %}

        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
    </body>
</html>
