{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}江西省中成药数据库{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
        {% block stylesheets %}
            <!-- Font Awesome -->
            <link rel="stylesheet" href="{{ asset('build/css/font-awesome.min.css')}}">
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('build/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Material Design Bootstrap -->
            <link href="{{ asset('build/css/mdb.min.css') }}" rel="stylesheet">
            <!-- Your custom styles (optional) -->
            <link href="{{ asset('build/css/style.css') }}" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <!--Navbar
                <nav class="navbar navbar-dark default-color">-->
                <nav class="navbar fixed-top navbar-light blue lighten-4">
                    <div class="row w-75">
                        <div class="col-sm-3 white-text align-top"><a class="navbar-brand light-blue-text" href="#">江西省中成药数据库</a></div>
                        <div class="border-left-0 col-xl-8 col-sm-9 col-md-8 col-lg-8">
                            <form class="form-inline border-left-0 text-left">
                                <select class="browser-default custom-select ">
                                    <option selected>select menu</option>
                                    <option value="0">企业</option>
                                    <option value="1">品种</option>
                                    <option value="2">药材</option>
                                </select>
                                <input class="form-control form-control-static ml-2 w-50 " type="search" placeholder="{{ 'post.search_for'|trans }}" aria-label="Search">
                                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">{{ 'menu.search'|trans }}</button>
                            </form>
                        </div>
                    </div>
                </nav>
                <!--/.Navbar-->

            </header>
        {% endblock %}

        <div class=" row mt-5 pt-4" >
            {% block body %}
                    <div  id="main" class="col-xl-10 col-sm-6  mx-auto col-sm-auto">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>

            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-10">
                            <p>&copy; {{ 'now'|date('Y') }} - 鼎石互联网工作室  18607912861</p>
                            <p>{{ 'mit_license'|trans }}</p>
                        </div>
                        <div id="footer-resources" class="col-md-2">
                            <p>
                                <a href="https://twitter.com/symfony" title="Symfony Twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://symfony.com/blog/" title="Symfony Blog">
                                    <i class="fa fa-rss" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script  type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-animate.min.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-route.min.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-aria.min.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-messages.min.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/svg-assets-cache.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/tabDialog.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-material.js') }}"></script>



            <script  type="text/javascript"  src="{{ asset('build/manifest.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/common.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/app.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular.min.js') }}"></script>
            <script  type="text/javascript"  src="{{ asset('build/js/angular-sanitize.min.js') }}"></script>

            <!-- SCRIPTS -->
            <!-- JQuery -->
            <script type="text/javascript" src="{{ asset('build/js/jquery-3.3.1.min.js') }}"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="{{ asset('build/js/popper.min.js') }}"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="{{ asset('build/js/bootstrap.min.js') }}"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="{{ asset('build/js/mdb.min.js') }}"></script>
            <script>
               /* var myAppModule = angular.modules("myApp",["ngSanitize"]);
                myAppModulec.config(function ($interpolateProvider) {
                    $interpolateProvider.startSymbol('[[').endSymbol(']]');

                });*/
            </script>
        {% endblock %}

        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
    </body>
</html>
