{# {% extends 'base.html.twig' %}#}


<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}江西省中成药数据库{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
    {% block stylesheets %}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('build/css/font-awesome.min.css')}}">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('build/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ asset('build/css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ asset('build/css/style.css')}}" rel="stylesheet">

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
{% block main %}
    <body>
    <header>

    </header>
    <main>
        <!--Mask-->
        <div id="intro" class="view">
            <div class="mask rgba-black-strong">
                <div class="container-fluid h-100" >
                    <div class="row justify-content-md-center h-50 align-items-end">
                        <div class="col col-xs-12 col-sm-10 col-md-8 col-lg-10 text-center ">
                           <h1 class="font-weight-bold white-text pt-5 mb-2">江西省中成药数据库</h1>
                        </div>
                    </div>
                    <p></p>
                    <div id="searchform" class="row justify-content-md-center row-centered">
                        <div class="col col-xs-12 col-md-8" style="align-items: center;">
                            <form id="sform" class="form-inline input-group w-100" action="{{ path('chmedicine_search_button') }}" method="post" >
                                    <select name="t" class="form-control input-group" style="width:15%;min-width:75px!important;max-width:100px!important;color: rebeccapurple;">
                                        <option value="0" selected>企业</option>
                                        <option value="1">品种</option>
                                        <option value="2">药材</option>
                                    </select>
                                    <input name="q" class="form-control" type="text" style="width:50%;min-width:100px!important;max-width:480px;" placeholder="{{ 'post.search_for'|trans }}"  aria-label="Search">
                                    <button type="submit" class="form-control input-group-append input-group-text amber lighten-3" style="width:15%;min-width:80px;max-width: 100px; ">
                                        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'medicine.search'|trans }}
                                    </button>
                            </form>
                        </div>
                    </div>
                    <div id ="pull-down" class="row align-items-end justify-content-md-center " >
                        <div class="col text-center">
                            <p class="white-text my-4">&copy; {{ 'now'|date('Y') }} - 鼎石互联网工作室<br>
                            {{ 'mit_license'|trans }}</p>
                        </div>
                    </div>

                </div>
                <!--Container end-->
            </div>
        </div>
        <!--/.Mask-->
    </main>
    <footer>
    </footer>
    </body>
{% endblock %}
</body>

<script type="text/javascript" src="{{ asset('build/js/jquery-3.3.1.min.js') }}"></script>
<script language="JavaScript" type="application/javascript">
    $(document).ready(function(){
        //var sw = $(window).width();//获取屏幕宽度
        var sw = $("#sform").width();
        var ss= $("#sform select").width();
        var si= $("#sform input").width();
        var sb= $("#sform button").width();
        var sf = ss+si+sb;
        console.log("sw"+sw);
        //$("#sform").css({"margin-left":(sw-sf)*0.5,"width":sf,"min-width":255});

        $("#sform").css({"width":sf,"min-width":255});
        $("#sform select").css({"margin-left":(sw-sf)*0.5-30});
        console.log("sform="+$("#sform").width());
        console.log(ss);
        console.log(si);
        console.log(sb);
        console.log(sf);
        console.log((sw-sf)/2);
        /*if( sw >= 768){
            if(sw >= 1200){
                if(sw > 1440){
                    $("#usefullspace").addClass("col-xl-3");
                    return;
                }
                $("#usefullspace").addClass("col-xl-2");
                return;
            }else if( sw >= 992){
                $("#usefullspace").addClass("col-lg-2");
                return;
            }
            $("#usefullspace").addClass("col-md-2");
            return;
        }else if( sw>=576 ){
            $("#usefullspace").addClass("col-sm-5");
            return;
        }
        else{
            $("#usefullspace").remove();
            return;
        }*/
        //$('html').css('font-size', f+'px');
    });


    $('#pull-down').each(function() {
        var $this = $(this);
        $this.css('margin-top', $this.parent().height()*0.5 - $("#searchform").height() - $this.height());
        //console.log("this is height:"+$this.parent().height());
    });
</script>
</html>