{% extends "base.html.twig" %}

{% block content %}
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>药品类别名称</th>
                <th>操  作</th>
            </tr>
        </thead>
        <tbody>
            {%  for medicinesort in medicinesorts %}
                <tr>
                    <td>{{ medicinesort.sortId }}</td>
                    <td><a href="{{ path('medicinelist',{ ('sortId'): medicinesort.sortId }) }}">{{ medicinesort.sortname }}</a> </td>
                    <td><a href="{{ path('medicinesortedit',{ ('sortId'): medicinesort.sortId }) }}" class="btn btn-default btn-sm">编辑</a>
                        <a href="{{ path('medicinesortremove',{ ('sortId'): medicinesort.sortId }) }}" class="btn btn-default btn-sm">删除</a>
                        </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/') }}"
{% endblock %}